body * {
    font-family: 'LXGW WenKai Screen R', 'LXGW WenKai GB Screen Regular', 'LXGW WenKai', 'LXGWWenKaiGBScreen', serif !important;
}
.dim_area{
    opacity: .5;
}
.container_global{
    padding-right: 2em;
}